<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Lines of Code</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
    <script>
        $(function(){

        $("#typed").typed({
            strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
            typeSpeed: 30,
            backDelay: 500,
            loop: false,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
            callback: function(){ foo(); },
            resetCallback: function() { newTyped(); }
        });

        $(".reset").click(function(){
            $("#typed").typed('reset');
        });

    });

    function newTyped(){ /* A new typed object */ }

    function foo(){ console.log("Callback"); }
    </script>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Lines of Code</a>
            <a class="navbar-brand" href="#"><span class="text-muted small">PRE-ALPHA</span></a>
          </div><!--/.nav-header -->
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Options <span class="caret"></span></a>
                <ul ng-app="LinesOfCodeApp" ng-controller="MenuCtrl" class="dropdown-menu" role="menu">
                  <li><a href="javascript:void(0);" ng-click = "saveAll()">Save</a></li>
                  <li><a href="javascript:void(0);" ng-click = "resetAll()">Reset</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    </div> <!-- /container -->

    <div class="container">
        <div ng-app="LinesOfCodeApp" ng-controller="LinesOfCodeCtrl" data-ng-init="init()">
            <button type="button" class="btn btn-info" ng-click="addLoC()">Code some lines</button>
            {{ "You have " + LoC + " line(s) of code and $" + money }}<br>
            <p><button type="button" class="btn btn-success" ng-click="sellAll()">Sell</button></p>
            <p>
            </p>
        </div>
    </div>

    <script>
      $(function(){
          $(".element").typed({
            strings: ["void createLineOfCode(){linesofcode++};"],
            typeSpeed: 0
          });
      });
    </script>
    
    <div class="element"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/typed.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/cookies.js"></script>
    <script src="js/typed.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/linesofcode.js"></script>
  </body>
</html>
