<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
        <title>Lines of Code</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/game.css" rel="stylesheet">
    </head>
    <body>
        <div class="modal fade" id="creditsModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Credits</h4>
              </div>
              <div class="modal-body">
                <ul>
                    <li><b>DanyBv</b> a.k.a <b>Sm1t3</b> - Original idea and code</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="container">
            <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Lines of Code</a>
                    <a class="navbar-brand" href="#"><span class="text-muted small">ALPHA</span></a>
                </div><!--/.nav-header -->
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a data-toggle="modal" data-target="#creditsModal">Credits</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
            </nav>
        </div>
        <!-- /container -->
        
        <div class="container">
            <div id="statusbar">
            </div>            
            <div ng-app="LinesOfCodeApp" ng-controller="LinesOfCodeCtrl" data-ng-init="init()">
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                  <li role="presentation" class="active"><a href="#units" aria-controls="units" role="tab" data-toggle="tab">Units</a></li>
                  <li role="presentation"><a href="#upgrades" aria-controls="upgrades" role="tab" data-toggle="tab">Upgrades</a></li>
                  <li role="presentation"><a href="#options" aria-controls="options" role="tab" data-toggle="tab">Options</a></li>
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="units">
                    <p>
                        <button type="button" class="btn btn-info" ng-click="click()">Type</button>
                        {{ "You have " + chr + " character(s)" }}
                    </p>
                    <p id="buyloc">
                        <button type="button" class="btn btn-info" ng-click="buyUnit(1)" data-toggle="tooltip" title="Price: {{locp}} characters">Create line of code</button>
                        {{ "You have " + loc + " lines of code and they generate " + loc*chrps + " characters/second" }}
                    </p>
                    <p id="buypg">
                        <button type="button" class="btn btn-info" ng-click="buyUnit(2)" data-toggle="tooltip" title="Price: {{pgp}} lines of code">Attract a programmer</button>
                        {{ "You have " + pg + " programmers and they create " + pg + " lines of code/second" }}
                    </p>
                    <p id="buyent">
                        <button type="button" class="btn btn-info" ng-click="buyUnit(3)" data-toggle="tooltip" title="Price: {{entp}} programmers">Form an enterprise</button>
                        {{ "You have " + ent + " enterprises and they hire " + ent + " programmers/second" }}
                    </p>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="upgrades">
                    <p>
                        Use multiple fingers for typing:<button type="button" class="btn btn-info" ng-click="buyUpgrade(1)" data-toggle="tooltip" title="Price: 100 characters" id="buymf">Buy</button>
                        <div id="descmf">
                            It multiplies your characters per click by 3x.
                            <div class="progress">
                              <div id="multiplefingers" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span>0%</span>
                              </div>
                            </div>
                        </div>
                    </p>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="options">
                    <p>
                        <button type="button" class="btn btn-success" ng-click="saveAll()">Save</button>
                        <button type="button" class="btn btn-danger" ng-click="resetAll()">Reset</button>
                    </p>
                  </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="js/typed.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/cookies.js"></script>
        <script src="js/typed.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/linesofcode.js"></script>
    </body>
</html>